{% extends 'base.html.twig' %}

{% block title %}Détails de la session{% endblock %}

{% block body %}
    <h1>{{ session.nomSession }} <a href="{{ path('edit_session', {'id': session.id})}}"><i class="fa-solid fa-pen-to-square"></i></a></h1>
    
    <div class="session-container">
        <div class="base-container">
            <div class="formateur-container">
                <h5>Formateur <a href="{{ path('app_formateur') }}"><i class="fa-solid fa-book"></i></a></h5>
                <p>{{ session.formateur.nomFormateur }} {{ session.formateur.prenomFormateur }}</p>
            </div>
        
            <div class="informations-container">
                <div class="place-container">
                    <h5>Places</h5>
                    <p>{{ session.place }}</p>
                </div>
                <div class="date-container">
                    <h5>Dates</h5>
                        Début : {{ session.dateDebut | date("d/m/Y") }} <br>
                        Fin : {{ session.dateFin | date("d/m/Y") }}
                </div>
            </div>
        </div>
    
    
        <div class="programmation-container">
            <div class="programme-container">
                <h5>Modules</h5> 
                {% for programme in session.programmes %}
                    <p>{{ programme.module.nomModule }} - 
            
                    {% if programme.nbJour is same as(1) %}
                        {{ programme.nbJour}} jour 
                    {% else %}
                        {{ programme.nbJour}} jours  
                    {% endif %}
                    <a href="{{ path('edit_programme', {'id': programme.id }) }}"><i class="fa-solid fa-pen-to-square"></i></i></a> 
                    <a href="{{ path('remove_programme', {'programme': programme.id})}}"><i class="fa-solid fa-circle-minus"></i></a>
                {% endfor %}
            </div>
        
            <div class="nonprogramme-container">
                <h5>Modules non-programmés</h5>
                {% for module in nonProgrammes %}
                    {{ module.nomModule}}
                    <form action="{{ path('add_programme', {'module': module.id, 'session': session.id})}}" method="post">
                        <input type="number" name="days" min="1" placeholder="Nombre de jours">
                        <button type="submit" name="submit" value="valider"><i class="fa-solid fa-circle-plus"></i></button><br>
                    </form>
                {% endfor %}
            </div>
        </div>
    
        <div class="inscription-container">
            <div class="inscrit-container">
                <h5>Stagiaires <a href="{{ path('app_stagiaire') }}"><i class="fa-solid fa-book"></i></a></h5>
            
                {% for stagiaire in session.stagiaires %}
                    {{ stagiaire.nomStagiaire}} {{ stagiaire.prenomStagiaire}} 
                    <a href="{{ path('remove_stagiaire', {'stagiaire': stagiaire.id, 'session':session.id})}}"><i class="fa-solid fa-person-circle-minus"></i></a><br>
                {% endfor %}<br>
            </div>
            
        
            <div class="noninscrit-container">
                <h5>Stagiaires non-inscrit</h5>
                {% for message in app.flashes('fail') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}
                {% for stagiaire in nonInscrits %}
                    {{ stagiaire.nomStagiaire}} {{stagiaire.prenomStagiaire}}
                    <a href="{{ path('add_stagiaire', {'stagiaire':stagiaire.id, 'session':session.id})}}"><i class="fa-solid fa-person-circle-plus"></i></a><br>
                {% endfor %}
            </div>
        </div>
    </div>

    
{% endblock %}