{% extends 'base.html.twig' %}

{% block title %}Détails de la session{% endblock %}

{% block body %}
    <h1>Détails de la session</h1>

    <h2>{{ session.nomSession }}</h2>

    <h3>Formateur <a href="{{ path('app_formateur') }}"><i class="fa-solid fa-book"></i></a></h3>
    <p>{{ session.formateur.nomFormateur }} {{ session.formateur.prenomFormateur }}</p>

    <h3>Informations <i class="fa-solid fa-pen-to-square"></i></h3>
    <p>Nombre de place : {{ session.place }}</p>
    <p>Date de début : {{ session.dateDebut | date("d-m-Y") }}</p>
    <p>Date de fin : {{ session.dateFin | date("d-m-Y") }}</p>

    <h3>Modules</h3> 
    {% for programme in session.programmes %}
        <p>{{ programme.module.nomModule }} - 

        {% if programme.nbJour is same as(1) %}
            {{ programme.nbJour}} jour 
        {% else %}
            {{ programme.nbJour}} jours  
        {% endif %} <a href="{{ path('edit_programme', {'id': programme.id }) }}"><i class="fa-solid fa-pen-to-square"></i></i></a></p> 

    {% endfor %}

    <h3>Stagiaires <a href="{{ path('app_stagiaire') }}"><i class="fa-solid fa-book"></i></a></h3>

    {% for stagiaire in session.stagiaires %}
        {{ stagiaire.nomStagiaire}} {{ stagiaire.prenomStagiaire}} <br>
    {% endfor %}
{% endblock %}