{% extends 'base.html.twig' %}

{% block title %}Détails des formateurs{% endblock %}

{% block body %}
    <h1>Détails des formateurs</h1>
    <a href="{{ path('new_formateur')}}" class="new-formateur"><i class="fa-solid fa-plus"></i></a><br>
    {% for formateur in formateurs %}
    <div class="listFormateurs-container">
        <div class="listFormateur">
            {{ formateur.nomFormateur}} {{ formateur.prenomFormateur}} <a href="{{ path('edit_formateur', {'id': formateur.id } )}}" class="edit-listFormateur"><i class="fa-solid fa-pen-to-square"></i></a></i><br>
            {{ formateur.emailFormateur}}
            <a href="{{ path('delete_formateur', {'id': formateur.id })}}" class="delete-listFormateur"><i class="fa-solid fa-xmark"></i></a>
        </div>
    </div>
       {% endfor %}
{% endblock %}
